<header class="header">
  <p class="header__title">Eimar Ramos | Portafolio Web</p>
  <nav class="nav">
    <ul class="links">
      <li class="links__link">
        <a href="/home#overview" (click)="toggleNav(); toggleHamburguer()"
          >Sobre mí</a
        >
      </li>
      <li class="links__link">
        <a href="/home#knowledge" (click)="toggleNav(); toggleHamburguer()"
          >Conocimientos</a
        >
      </li>
      <li class="links__link">
        <a href="/home#projects" (click)="toggleNav(); toggleHamburguer()"
          >Proyectos</a
        >
      </li>
    </ul>
  </nav>
  <label class="hamburger" for="hamburger__checkbox">
    <input id="hamburger__checkbox" type="checkbox" (change)="toggleNav()" />
    <span class="toggle">
      <div class="bar bar--top"></div>
      <div class="bar bar--middle"></div>
      <div class="bar bar--bottom"></div>
    </span>
  </label>
</header>
