.link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 7rem;
  box-sizing: border-box;
  padding: 0.5em;
  gap: 0.5em;

  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  background-image: var(--gradient-color);
  border-radius: 0.5rem;

  text-decoration: inherit;

  transition: transform 0.15s ease;
}

.link:hover {
  transform: scale(1.08) translateY(-2px);
}
