<article class="hero">
  <header>
    <h1 class="hero__title">
      Hola, soy
      <span class="hero__name">Eimar Ramos</span>
    </h1>
  </header>
  <p class="hero__subtitle">
    Desarrollador de Software<br />Frontend | Backend
  </p>
  <div class="links">
    <app-link
      text="GitHub"
      url="https://github.com/eimarramos"
      src="assets/icons/github.svg"
    ></app-link>
    <app-link
      text="LinkedIn"
      url="https://linkedin.com/in/eimar-ramos-sacari-78524a29a"
      src="assets/icons/linkedin.svg"
    ></app-link>
    <app-link
      text="Email"
      url="mailto:eimar.ramossacari@gmail.com"
      src="assets/icons/email.svg"
    ></app-link>
    <app-link
      text="CV"
      url="https://drive.google.com/file/d/1hwEQi53gJC2bZjyzhyClMSA1jCYcbuP9/view?usp=sharing"
      src="assets/icons/cv.svg"
    ></app-link>
  </div>
</article>
