<article class="hero">
  <header>
    <h1 class="hero__title">
      Hola, soy
      <span class="hero__name">Eimar Ramos</span>
    </h1>
  </header>
  <p class="hero__subtitle">
    Desarrollador de Software<br />Frontend | Backend
  </p>
  <div class="links">
    @for (link of links; track $index) {
    <app-link [link]="link"></app-link>
    }
  </div>
  <div class="bubbles">
    @for (item of getNumberArray(10); track $index) {
    <div class="bubbles__bubble"></div>
    }
  </div>
</article>
