<article class="hero">
  <h1 class="hero__title">
    Hola, soy
    <span class="hero__name">Eimar Ramos</span>
  </h1>
  <p class="hero__subtitle">
    Desarrollador de Software<br />Frontend | Backend
  </p>
  <div class="links">
    <app-link text="GitHub" url="''" src="assets/icons/github.svg"></app-link>
    <app-link
      text="LinkedIn"
      url="''"
      src="assets/icons/linkedin.svg"
    ></app-link>
    <app-link text="Email" url="''" src="assets/icons/email.svg"></app-link>
    <app-link text="CV" url="''" src="assets/icons/cv.svg"></app-link>
  </div>
</article>
