:root {
  --primary-gradient-color: linear-gradient(
    180deg,
    #49576c 0%,
    #353f4f 50%,
    #222831 100%
  );

  --color-brand-0: #ffffff;
  --color-brand-05: #f5f4f5;
  --color-brand-1: #eaeaeb;
  --color-brand-2: #d6d4d6;
  --color-brand-3: #c1bfc2;
  --color-brand-4: #ada9ad;
  --color-brand-5: #989499;
  --color-brand-6: #5c5a5d;
  --color-brand-7: #3f3d3f;
  --color-brand-8: #212021;
  --color-brand-9: #030303;

  --primary-100: #ffd369;
  --primary-200: #eeeeee;
  --primary-300: #fdf6fd;
  --accent-100: #cfdbd5;
  --accent-200: #e8eddf;
  --text-100: #eeeeee;
  --text-200: #fdebed;
  --bg-100: #222831;
  --bg-200: #393e46;
  --bg-300: #292524;
}
