<app-section [section]="experience">
  <div class="content">
    <nav class="nav">
      <ul>
        <li>
          <p class="name">LODISNA</p>
          <p>
            Enero 2024 - Junio 2024 <br />
            Practicas como Desarrollador de Software <br />
            Navarra, España
          </p>
        </li>
      </ul>
    </nav>
    <div class="separator"></div>
    <div class="info">
      Desarrollé una aplicación móvil utilizando Xamarin.Forms. También diseñé
      una página web interactiva con Angular. El backend fue construido en
      ASP.NET Core, lo que facilitó la creación de APIs seguras y eficientes,
      gestionando la lógica de negocio y la comunicación entre la app móvil y la
      web. Además, trabaje con bases de datos en SQL Server y aprendí a usar
      herramientas de análisis y generación de reportes como JetReports y
      PowerBI.
    </div>
  </div>
</app-section>
