.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-gap: 2em;
}

.content__separator {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0.3rem;

  border-radius: 0.15rem;
  background-color: var(--primary-100);
}

@media (max-width: 992px) {
  .content {
    grid-template-columns: 1fr;
  }

  .content__separator {
    left: 100%;
    transform: translateX(200%);
  }
}
