.section {
  line-height: var(--text-line-height);
}

.section__subtitle {
  color: var(--text-color);
  font-size: var(--text-size-small-medium);
}

.section__title {
  font-weight: 900;
  color: var(--secondary-color);
  font-size: var(--text-size-large);
}

.body {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;

  grid-auto-rows: fit-content;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));

  grid-gap: 2em;
}

.body__separator {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 50%;

  width: 0.3rem;

  background-color: var(--secondary-color);

  transform: translateX(-50%);
}

@media (max-width: 992px) {
  .section__subtitle {
    font-size: var(--text-size-small);
  }

  .section__title {
    font-size: var(--text-size-medium-large);
  }

  .body__separator {
    left: 100%;
  }
}
