.article {
  display: flex;
  flex-direction: column;
  gap: 1em;

  height: 100%;
  width: 100%;

  padding: 1em;
  border-radius: var(--radius-xs);
  background-color: var(--bg-200);

  line-height: var(--text-line-height);
}

.article__title {
  font-weight: 900;
  color: var(--color-brand-0);
  font-size: var(--text-size-medium-large);
}

.article__content {
  text-wrap: pretty;
  color: var(--text-100);
  font-size: var(--text-size-small-medium);
  margin: 0 0 0.5em;
}

.article__picture {
  width: 100%;
}

.article__chips {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}

.article__chip {
  padding: 0.1em 0.6em;

  background: var(--light-gradient-color);

  color: var(--color-brand-0);
  border-radius: var(--radius-l);
}

.chip__text {
  font-weight: 700;
  color: #392f17;
}

.article__button {
  width: fit-content;
  border-radius: var(--radius-s);
  background-color: transparent;
  border: solid 1px var(--color-brand-5);
  color: var(--color-brand-2);
  font-weight: 700;
  padding: 0.6em 0.6em;
  margin-top: auto;
  cursor: pointer;

  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.article__button:hover {
  background-color: var(--bg-100);
  color: var(--color-brand-0);
  border-color: var(--color-brand-4);
}

@media (max-width: 992px) {
  .article__title {
    font-size: var(--text-size-medium);
  }

  .article__content {
    font-size: var(--text-size-small);
  }
}
