@if (project){
<article class="article">
  <img
    class="article__picture"
    [src]="project.picture"
    alt="Imagen del proyecto"
    loading="lazy"
  />
  <h3 class="article__title">{{ project.title }}</h3>
  <p class="article__content">{{ project.summary }}</p>
  <div class="article__chips">
    @for (technology of project.technologies; track $index) {
    <div class="article__chip">
      <p class="chip__text">{{ technology }}</p>
    </div>
    }
  </div>
  <dialog class="dialogBox" closedby="any">
    <form method="dialog">
      <button class="project__close" (click)="closeModal($event)">x</button>
    </form>
    <article class="project">
      <div class="slider">
        @for (image of project.images; track $index) {
        <img
          loading="lazy"
          class="slider__image"
          src="{{ image }}"
          alt="Web project image"
        />
        }
      </div>
      <app-card class="card" [card]="projectCard">
        @for (paragraph of project.description; track $index) {
        <p>{{ paragraph }}</p>
        <br />
        }
      </app-card>
    </article>
  </dialog>
  <div class="article__buttons-container">
    <button class="article__button" (click)="openModal($event)">
      Mostrar detalles
    </button>
    @if(project.githubUrl){
    <a class="article__link" href="{{ project.githubUrl }}" target="_blank">
      GitHub
    </a>
    }
  </div>
</article>
}
