<article class="article">
  <header>
    <p class="article__subtitle">TECNOLOGÍAS CON LAS QUE ESTOY FAMILIARIZADO</p>
    <h1 class="article__title">Tecnologías</h1>
  </header>
  <div class="icons">
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
  </div>
</article>
