<app-section [section]="techStack">
  <div class="icons">
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
    <svg class="icons__icon">
      <use xlink:href="assets/icons/java.svg#java"></use>
    </svg>
  </div>
</app-section>
