<article class="article">
  <header>
    <p class="article__subtitle">TECNOLOGÍAS CON LAS QUE ESTOY FAMILIARIZADO</p>
    <h1 class="article__title">Tecnologías</h1>
  </header>
  <div class="icons">
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/java.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/csharp.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/java.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/csharp.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/java.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/csharp.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/java.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/csharp.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/java.svg' + ')'"
    ></svg>
    <svg
      class="icons__icon"
      [style.background-image]="'url(assets/icons/csharp.svg' + ')'"
    ></svg>
  </div>
</article>
