@import url(styles/variables/colors.css);
@import url(styles/font.css);
@import url(styles/variables/text-sizing.css);

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(--app-font);
}

body {
  background-color: var(--background-color);
  background-image: var(--primary-gradient-color);
  background-size: 100% 100svh;
  background-repeat: no-repeat;
}
