.project {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--layout-size-desktop-gap);
  justify-content: center;

  flex-flow: row wrap;
}

.slider {
  aspect-ratio: 9.1/20;
  height: 40rem;
  position: relative;
  display: flex;
  align-content: center;
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider__image {
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: var(--radius-m);
  scroll-snap-align: center;
}

.card {
  width: 40rem;
  height: 100%;
}

@media (max-width: 992px) {
  .card {
    width: 100%;
  }
}
