.section {
  margin-bottom: 20em;
  max-width: 80rem;
  scroll-margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.section__subtitle {
  color: var(--text-200);
  font-size: var(--text-size-small-medium);
}

.section__title {
  font-weight: 900;
  color: var(--color-brand-0);
  font-size: var(--text-size-large);
}

@media (max-width: 992px) {
  .section {
    scroll-margin-top: 8.5rem;
  }

  .section__subtitle {
    font-size: var(--text-size-small);
  }

  .section__title {
    font-size: var(--text-size-medium-large);
  }
}
